<?xml version="1.0" ?>
<DBDefinition>
<menu name = "menuPriority">
    <choice>   low   </choice>
    <choice>medium</choice>
    <choice>high</choice>
</menu>
<menu name = "menuScan">
    <choice>passive</choice>
    <choice>event</choice>
    <choice>interrupt</choice>
    <choice>periodic</choice>
</menu>

<menu name = "menuAlarmSevr">
    <choice>none</choice>
    <choice>minor</choice>
    <choice>major</choice>
    <choice>invalid</choice>
</menu>

</DBDefinition>
