<?xml version="1.0" ?>
<DBDefinition>
<menu name = "priority">
    <choice>lowest</choice>
    <choice>lower</choice>
    <choice>low</choice>
    <choice>middle</choice>
    <choice>high</choice>
    <choice>higher</choice>
    <choice>highest</choice>
</menu>
<menu name = "scan">
    <choice>passive</choice>
    <choice>event</choice>
    <choice>periodic</choice>
</menu>

<menu name = "alarmSeverity">
    <choice>none</choice>
    <choice>minor</choice>
    <choice>major</choice>
    <choice>invalid</choice>
</menu>

<menu name = "monitorType">
    <choice>put</choice>
    <choice>change</choice>
    <choice>absoluteChange</choice>
    <choice>percentageChange</choice>
</menu>

<menu name = "outputMode">
    <choice>supervisory</choice>
    <choice>closedLoop</choice>
</menu>

</DBDefinition>
